.App {
  text-align: center;
  padding: 30px;
}

.nav-bar {
  display: flex;
  /*flex-flow: row wrap;*/
  justify-content: center;
  /*align-items: flex-start;*/
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.navbar-list li {
  padding: 25px;
  cursor: pointer;
}

.navbar-list a {
  padding: 15px;
  display: inline;
  text-decoration: none;
 /* color: white; */
}

.navbar-list a:hover {
  background-color: black;
  color: white;
}

.main-container {
  position: relative;
  height: 100vh;
}

.home-image {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  right: 10%; 
  z-index: 0;
}

.typewriter {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 1;
}

.sections {
  display: block;
}

.about-section {
  padding: 20px;
  display: flex;
 /* flex-direction: row;
  justify-content: center; */
}

.about-section h1 {
  text-align: center;
}

.left-side {
  flex: 1; 
  padding-right: 10px;
 /* flex: 50%;
  width: 50%;
  float: left; */ 
}

.right-side {
  flex: 1;
  padding-left: 10px;
  /*flex: 1; */
 /* width: 50%;
  float: right; */
}

.project-section {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  flex: 1;
  padding: 15px;
  width: 25%;
}

.skills-section {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  flex: 1;
  padding: 15px;
  width: 25%;
}

.contact-section {
  padding: 20px;
}

.contact-items {
  display: inline-block;
}