:root {
  /* Testing */
  --body_background_light: white;
  --body_color_light: black;
  --body_background_dark: black;
  --body_color_dark: white;
  --hover_bgcolor_light: black;
  --hover_bgcolor_dark: white;
  --hover_color_light: white;
  --hover_color_dark: black;
}

/* Testing */
body[data-theme="light"], .about-list li:hover {
  background-color: var(--body_background_light);
  color: var(--body_color_light);
}

/* Testing */
body[data-theme="dark"], .about-list li:hover {
  background-color: var(--body_background_dark);
  color: var(--body_color_dark);
}


.App {
  text-align: center;
  padding: 30px;
}

.nav-bar {
 /* display: flex; */
  /*flex-flow: row wrap;*/
 /* justify-content: center; */
  /*align-items: flex-start;*/
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body_background); /* Add background color to make it visible on the page - Test*/
  z-index: 100; 
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.navbar-list li {
  padding: 20px;
  cursor: pointer;
}

.navbar-list li:hover {
  background-color: var(--body_color);
  color: var(--body_background);
}

.navbar-list a {
  padding: 15px;
  display: inline;
  text-decoration: none;
 /* color: white; */
}

.navbar-list a:hover {
  background-color: var(--body_color);
  color: var(--body_background);
}

.main-container {
  position: relative;
  height: 100vh;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.bounce-animation {
  font-size: 6rem;
  animation: bounce 1.5s 5;
  margin-bottom: 0;
}

.bounce-animation2 {
  font-size: 6rem;
  animation: bounce 1.5s infinite;
}

.subtitle {
  margin-top: 0;
  font-size: 25px;
}

.home-image {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 40%;
  right: 10%; 
  z-index: 0;
}

.typewriter {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 1;
}

.sections {
  display: block;
}

.about-section {
  padding: 20px;
  display: flex;
 /* flex-direction: row;
  justify-content: center; */
}

.about-section h1 {
  text-align: center;
}

.left-side {
  flex: 1; 
  padding-right: 10px;
 /* flex: 50%;
  width: 50%;
  float: left; */ 
}

.about-list {
  padding: 20px; /* Adjust padding as needed */
  width: 80%;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: var(--hover-bgcolor);
  color: var(--hover-color);
}

.about-list option {
  background-color: var(--hover-color);
  color: var(--hover-bgcolor);
}

.about-list option:hover {
  background-color: var(--hover_bgcolor);
  color: var(--hover_color);
}

.addition {
  margin-left: 10px;
}
.right-side {
  flex: 1;
  padding-left: 10px;
}

.about-icon {
  height: 200px;
  width: 200px;
}

.project-section {
  padding: 20px;
  display: grid;
  /*flex-flow: row wrap;
  justify-content: center; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
}

.grid-item {
 /* flex: 1; */
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.project-link:link {
  text-decoration: none;
  color: var(--hover_color); 
}

.project-link:visited {
  color: var(--hover_color);
}

.skills-section {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  flex: 1;
  padding: 15px;
  width: 25%;
}

.contact-section {
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

form {
  padding: 20px;
}

.label-text {
  position: absolute;
  left: 6%;
}

.input-box {
  margin-bottom: 15px;
  width: 75%;
  padding: 15px;
}

textarea {
  padding: 20px;
  height: 200px;
  width: 75%;
}

.form-btn {
  display: flex;
  justify-content: flex-start;
  margin-left: 7.5rem;
  width: 15%;
  padding: 20px;
  border-radius: 1%;
  cursor: pointer;
  text-align: center;
}

.form-btn:hover {
  background-color: var(--hover-color);
  color: var(--hover-bgcolor);
}

.send {
  text-align: center;
  margin: auto;
  font-size: 15px;
}

.project-icon {
  width: 50px;
  height: 50px;
}


.font-icons {
  height: 50px;
  width: 50px;
}

.footer {
  padding: 20px;
  margin-top: 20px;
}

.footer-items {
  padding: 10px;
}

.item {
  height: 25px;
  width: 25px;
  margin-left: 7px;
  margin-right: 7px;
}
