:root {
    --body_background_light: white;
    --body_color_light: black;
    --body_background_dark: black; 
    --body_color_dark: white;
  /*  --hover_bgcolor_light: black;
    --hover_bgcolor_dark: white;
    --hover_color_light: white;
    --hover_color_dark: black; */ 
  }
  
  
  body[data-theme="light"] {
    background-color: var(--body_background_light);
    color: var(--body_color_light);
    --hover_bgcolor: var(--body_color_light);
    --hover_color: var(--body_background_light); 
  }
  
  /* Testing */
  body[data-theme="dark"] {
    background-color: var(--body_background_dark);
    color: var(--body_color_dark); 
    --hover_bgcolor: var(--body_color_dark);
    --hover_color: var(--body_background_dark);
  }

  .blog-section {
    text-align: center;
    padding: 30px;
  }

  .lead-header {
    font-size: 2.75em;
  }

  .blog-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    list-style-type: none;
  }

 .blog-item {
    padding: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

 .post-link {
    text-decoration: none;
    color: var(--body_background);
 }

  .blog-item:hover {
    background-color: var(--hover_bgcolor);
    color: var(--hover_color);
  }