 /* Trial run...*/
 /* Hide modal when the class is not applied */
 :root {
  --body_background_light: white;
  --body_color_light: black;
  --body_background_dark: black;
  --body_color_dark: white;
  --hover_bgcolor_light: black;
  --hover_bgcolor_dark: white;
  --hover_color_light: white;
  --hover_color_dark: black;
}


body[data-theme="light"] {
  background-color: var(--body_background_light);
  color: var(--body_color_light);
}

/* Testing */
body[data-theme="dark"] {
  background-color: var(--body_background_dark);
  color: var(--body_color_dark);
}

#main {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0, 0.9); /* Fallback color */
  /*backgroundColor: "rgba(0,0,0,0.4)" /* Black w/ opacity */
}
 .modal-invisible {
    display: none;
  }
  
  /* Show modal only when modal-visible class is present */
  .modal-visible {
    display: block;
  }

  .modal-container {
    padding: 10px;
    margin: auto;
    border: solid 1px white;
    width: 35%;
    height: 400px;
    transition: background-color 0.3s ease; 
  }

 .modal-container.light-mode {
    background-color: white;
    color: black;
  }

  .modal-container.dark-mode {
    background-color: black;
    color: white;
  }
    
  .close {
    margin: 0 0 0 85%;
    font-size: 30px;
    width: 100px;
    height: 100px;
    aspect-ratio: auto;
    cursor: pointer;
  }

  .close:hover {
    color: red;
  }